/*
COLORS:
	fons selector verd/blau: #52cdc5;
	selector carbassa: #ff9f8a;
*/

/* GENÈRICS */
html, body {
	height: 100%;
	font-size: 18px;
}
@media only screen and (max-width: 767px) {
	html, body {
		height: 100%;
		font-size: 16px;
	}
}
body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin: 0;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4 {
	margin: 0;
	font-weight: 700;
}

ul {
	list-style: none;
}

a {
	color: #52cdc5;
	text-decoration: none;
	transition-duration: 0.2s;
}

a:hover {
	color: #ff9f8a;
	transition-duration: 0.2s;
}

.contingut {
	flex: 1 0 auto;
}

.hidden {
	display: none !important;
}

.noVisible {
	visibility: hidden;
}

/* MENU */

.idioma {
	margin: 50px 0 0;
}

.infoVersio {
	position: absolute;
	bottom: 20px;
}

@media only screen and (max-width: 767px) {
	.botoMenu {
		font-size: 1.5em;
		top: 20px;
		right: 20px;
	}
}

/* MENU */
.botoMenu {
	font-size: 2em;
	position: fixed;
	top: 30px;
	right: 40px;
	color: lightgrey;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.botoMenu:hover {
	cursor: pointer;
	color: grey;
}

.menu {
	width: 400px;
	height: 100%;
	background-color: #efefef;
	position: fixed;
	top: 0;
	right: 0;
}

.botoTancarMenu {
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 1.6em;
	padding: 10px 15px;
	cursor: pointer;
	color: #ff8a8a;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}

.botoTancarMenu:hover {
  color: #ff5b5b;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fraseMenu {
	display: flex;
	justify-content: space-between;
	margin: 20px 10px 40px;
}

.textFrases {
	text-align: center;
	margin: 0;
}

.autorFrases {
	text-align: right;
	margin: 20px 0 0;
}

.quotes {
	font-size: 2.2em;
	color: lightgrey;
	padding: 0;
}

.fraseText {
	padding: 0 20px;
	margin: 5px 0 0;
	font-size: 1.1em;
}

.infoVersio {
	font-size: 0.8em;
	margin: 50px 0 0;
}

@media only screen and (max-width: 767px) {
	.botoMenu {
		font-size: 1.5em;
		position: fixed;
		top: 15px;
		right: 20px;
	}

	.menu {
		width: 80%;
		height: 100%;
	}

	.botoTancarMenu {
		top: 10px;
		right: 10px;
	}

	.quotes {
		font-size: 1.8em;
		padding: 0;
	}

}

/* TITOL */
.h1Titol {
	margin: 40px 0;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
}

.titol {
	width: auto;
	padding: 0 0 0 50px;
}

.editTitelIcon {
	font-size: 1em;
	color: lightgrey;
	cursor: pointer;
	padding: 0 0 0 20px;
}

@media only screen and (max-width: 767px) {
	.h1Titol {
		flex-direction: column;
		margin: 40px 0 10px;
		width: auto;
	}

	.titol {
		width: 100%;
		padding: 0 10px;
	}

	.editTitelIcon {
		font-size: 1em;
		color: lightgrey;
		cursor: pointer;
	}
}

.editTitelIcon:hover {
	color: #ff9f8a;
}

.afegirTitolBoto {
	margin: 0 0 40px;
}

/* FORMULARIS I LLISTES	 */
.titolAfegirMotiu {
	margin: 0 0 20px;
}

.titolFavorContra {
	margin: 0 0 20px;
}

.formularis {
	margin: 0 0 40px;
}

/* BOTONS I INPUTS*/
.button {
	font-size: 16px;
	border: none;
	border-radius: 20px;
	background-color: #52cdc5;
	height: 40px;
	width: 180px;
	padding: 10px 20px;
	cursor: pointer;
	transition-duration: 0.2s;
}

@media only screen and (max-width: 767px) {
	.button {
		min-height: 40px;
		width: 40%;
		min-width: 152px;
		max-width: 180px;
	}
}

.button:hover {
	background-color: #ff9f8a;
	transition-duration: 0.2s;
}

.button:focus {
	outline: none;
}

.botoMotiuFavor {
	border-radius: 20px 0 0 20px;
}

.botoMotiuContra {
	border-radius: 0 20px 20px 0;
}

input {
	font-weight: 400;
	font-size: 1em;
	padding: 5px;
}

input:focus {
	outline: none;
}

input[type=text] {
	width: auto;
	min-width: 300px;
	border: solid 1px #d1d1d1;
	border-radius: 2px;
}

input[type=number]:focus, input[type=number]:hover {
	border: solid 1px #d1d1d1;
	border-radius: 2px;
}

.inputImportancia {
	border: none;
	font-size: 1.4em;
	width: 50px;
	margin-left: 40px;
}

/* RANGE INPUT */
.rangeInput {
-webkit-appearance: none;
width: 90%;
max-width: 400px;
}
.rangeInput:focus {
outline: none;
}
.rangeInput::-webkit-slider-runnable-track {
width: 100%;
height: 25px;
cursor: pointer;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
background: #52cdc5;
border-radius: 12.5px;
}
.rangeInput::-webkit-slider-thumb {
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.18), 0px 0px 0px rgba(13, 13, 13, 0.18);
border: 0px solid #000000;
height: 40px;
width: 25px;
border-radius: 50px;
background: #ff9f8a;
cursor: pointer;
-webkit-appearance: none;
margin-top: -7.5px;
}
.rangeInput:focus::-webkit-slider-runnable-track {
background: #52cdc5;
}
.rangeInput::-moz-range-track {
width: 100%;
height: 25px;
cursor: pointer;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
background: #52cdc5;
border-radius: 12.5px;
}
.rangeInput::-moz-range-thumb {
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.18), 0px 0px 0px rgba(13, 13, 13, 0.18);
border: 0px solid #000000;
height: 40px;
width: 25px;
border-radius: 50px;
background: #ff9f8a;
cursor: pointer;
}
.rangeInput::-ms-track {
width: 100%;
height: 25px;
cursor: pointer;
background: transparent;
border-color: transparent;
color: transparent;
}
.rangeInput::-ms-fill-lower {
background: #52cdc5;
border: 0px solid rgba(1, 1, 1, 0);
border-radius: 25px;
}
.rangeInput::-ms-fill-upper {
background: #52cdc5;
border: 0px solid rgba(1, 1, 1, 0);
border-radius: 25px;
}
.rangeInput::-ms-thumb {
border: 0px solid #000000;
height: 40px;
width: 25px;
border-radius: 50px;
background: #ff9f8a;
cursor: pointer;
height: 25px;
}
.rangeInput:focus::-ms-fill-lower {
background: #52cdc5;
}
.rangeInput:focus::-ms-fill-upper {
background: #52cdc5;
}

/* LLISTES */
.llista {
	display: flex;
	overflow: auto;
	justify-content: center;
}

.llista ul {
	padding: 0;
}

.llistaCol {
	width: 50%;
	max-width: 600px;
}

.llistaCol h2 {
	margin: 0 20px;
}

.llistaFavor {
	text-align: right;
}

.llistaContra {
	text-align: left;
}

.elementsLlistaFavor {
	
}

.elementsLlistaContra {
}

.elementsLlista {
	line-height: 1.8em;
	padding: 0.4em 1em;
}

.elementsLlista:hover {
	background-color: #e8e8e8;
}

.textLlistaFavor {
	padding: 0;
}

.textLlistaContra {
	padding: 0;
}

.eliminarMotiusIcona {
	color: lightgrey;
	margin: 0 0 0 20px;
}

.eliminarMotiusIcona:hover {
	color: #ff5b5b;
}

@media only screen and (max-width: 767px) {
	.llista {
		flex-flow: column;
	}

	.llistaCol {
		width: 100%;
	}

	.textLlistaFavor {
		padding: 0 0 0 20px;
	}

	.textLlistaContra {
		padding: 0 0 0 20px;
	}

	.llistaFavor {
		text-align: center;
		margin: 0;
	}

	.llistaContra {
		text-align: center;
		margin: 0;
	}

}

 /* RESULTATS */

 .botoResultats {
 	margin: 50px 0 0;
 }

.resultats {
	margin: 80px 0 0;
}

.botoEnrreraResultats {
	margin: 50px 0 0;
}

.fesoONO {
	width: 500px;
	padding: 60px 0;
	margin: auto;
	font-weight: black;
}
.fesSi {
	background-color: #31e161;
}

.fesCasiSi {
	background-color: #96dfaa;
}

.fesNo {
	background-color: #e13a31;
}

.fesCasiNo {
	background-color: #e19692;
}

.fesNose {
	background-color: #d6d6d6;
}

@media only screen and (max-width: 767px) {
	.fesoONO {
		width: 100%;
	}
}

footer {
	width: 100%;
	padding: 50px 0 20px;
	flex-shrink: 0;
}